{% extends "template.html" %}

{% block content %}
<div class="text-center pt-5">
    <a href="https://www.youtube.com/watch?v=GFJi5qUxbZ4" class="text-muted text-center display-2">Soccer<span class="text-danger">det</span>!</a>
    <p class="lead">Το ποδόσφαιρο στα καλύτερά του!</p>
    <br>
    <p>Η σελίδα της καρδιάς μας για το groupάκι της καρδιάς μας από τον junior με όρεξη&trade; της καρδιάς μας.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'matches' %}" role="button">Παιχνίδια</a>
</div>
{% endblock %}
