/* i hate css */

body {
    font-family: 'Lato';
}

@media (min-width:576px) {
    .card-group {
        column-count: 1;
    }
}

@media (min-width:768px) {
    .card-group {
        column-count: 2;
    }
}

@media (min-width:992px) {
    .card-group {
        column-count: 3;
    }
}
/*
@media (min-width:1200px) {
    .card-group {
        column-count: 3;
    }
} */
